.page {
    background: none;
    max-width: 1100px;
    margin: 0 auto;
    display: block;
    overflow: auto;
    overflow: visible;
    margin-top: calc(-28px - 28px - 28px - 50px);
}
.profile-top-buttons {
    text-align: right;
}
.button.black {
    background: #000;
    color: #fff;
    border: 2px solid #000;
}
.box {
    background: var(--input-background-color);
    box-shadow: 1px 2px 4px rgba(0,0,0,.03);
    padding: 28px;
    border-radius: 12px;
    /* border: 1px solid #ddd; */
    height: auto;
    margin-bottom: 14px;
    border: none;
    box-shadow: 0 0 0 1px var(--input-border-color), 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%) !important;
}
.box.profile .info {
    display: block;
    margin: 0 auto;
    width: 100%;
    vertical-align: top;
    padding-left: 14px;
    padding-right: 14px;
}
table.profile_info {
    width: 100%;
}
.box.profile .profile_info td:first-of-type {
    min-width: 150px;
    font-weight: bold;
}
table.profile_info tr td {
    border-bottom: 1px solid #dddddd;
    padding: 14px;
}
.box.profile .profile_info td {
    vertical-align: top;
}
h1.username {
    display: inline-block;
}
.box.profile .info h2.subline {
    display: block;
    text-align: center;
    font-weight: normal;
    font-size: 15px;
    margin-top: -3.5px;
    font-weight: bold;
    color: var(--global-text-color);
}
.button.black {
    background: #000;
    color: #fff;
    border: 2px solid #000;
}
.big-avatar {
    cursor: pointer;
    position: relative;
    object-fit: cover;
    padding: 7px;
    display: table;
    margin: 0 auto;
    vertical-align: top;
}
.box.profile img.avatar {
    background: var(--global-background-color);
    border-radius: 100%;
    margin: 0 auto;
    padding: 0;
    border: 2px solid var(--input-border-color);
    margin-top: -137px;
    width: 200px;
    height: 200px;
    display: block;
}
.socialicon{
    border-radius: 100%;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    object-fit: cover;
}
.tag {
    display: inline-block;
    padding: 3.5px;
    padding-left: 7px;
    padding-right: 7px;
    margin: 3.5px;
    border-radius: 6px;
    font-size: 14px;
    border: 1px solid var(--input-border-color);
    border: none;
    box-shadow: 0 0 0 1px var(--input-border-color), 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%) !important;
    background: var(--input-background-color);
}
.box {
    background: var(--input-background-color);
    box-shadow: 1px 2px 4px rgba(0,0,0,.03);
    padding: 28px;
    border-radius: 12px;
    border: solid 1px #dddddd !important; 
    height: auto;
    margin-bottom: 14px;
    border: none;
    box-shadow: 0 0 0 1px var(--input-border-color), 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%) !important;
}