.App {
  text-align: center;
  background-color: #fbfaf8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.top{
  height: 400px;
  background-color: var(--global-text-color);
  background-size: cover;
  min-width: 100%;
  top: 0;
  min-height: 100%;
  width: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center center;
  background-color: #ddd;
  background-position: center center;
  background-size: cover;
  background: #000;
  background-size: auto;
  background-position: 51% 38%;
  background-image: url('https://remoteok.com/assets/valley-bg.jpg');
}
.top .video {
  background-color: var(--global-text-color);
  background-size: cover;
  min-width: 100%;
  top: 0;
  min-height: 100%;
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-color: #ddd;
  position: absolute;
  background-position: center center;
  background-size: cover;
}
.top-bar .remote-ok-logo, .top-bar .remote-ok-logo h1, .top-bar .remote-ok-logo a, .header .remote-ok-logo, .header .remote-ok-logo h1, .header .remote-ok-logo a, .top .remote-ok-logo, .top .remote-ok-logo h1, .top .remote-ok-logo a {
  color: #fff;
  z-index: 1;
  position: relative;
  top: 0.2em;
  text-align: center;
  border: none;
}.remote-ok-logo h2, .remote-ok-logo h1 {
  font-size: 2em;
  color: var(--global-text-color);
  margin: 0;
  margin-top: -0.5em;
  margin-bottom: 0.35em;
}
 .top .box {
  top: 16% !important;
}
 .top .box h1 {
  opacity: 1;
  color: #fff !important;
  letter-spacing: -1px;
  display: block;
  font-size: 3em;
}
.top .box .search {
  color: var(--global-text-color);
  font-weight: 700;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  font-size: 1.5em;
  padding: 0.5em;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  text-align: center;
  background: 0 0;
  color: #fff;
  border-bottom: 2px solid #fff;
  text-align: left;
  color: #0f1115;
  background: #fff;
  border-radius: 12px;
  box-shadow: 1px 2px 4px rgba(0,0,0,.25);
  padding-left: 2.5em;
  background-image: url(https://remoteok.com/assets/search-black.png);
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: 0.75em center;
  width: 400px;
  max-width: 80vw;
  border-radius: 100px;
  border: none;
  box-shadow: var(--box-shadow-central);
}
.top-right-nav {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  padding: 14px;
  padding-right: 14px;
  padding-left: 14px;
  z-index: 12;
  padding-right: 185px;
}
.button.action-post-job {
  background: #ff4742;
  border: 2px solid #ff4742;
  color: #fff;
  border-radius: 12px;
  text-align: center;
}
.App-header {
  background-color: #ebeef4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#jobsboard tr.job {
  border-radius: 12px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  border: none;
}

table#jobsboard tr.job td {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  vertical-align: middle;
  padding: 7px;
}
.apply_button {
  z-index: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  border: 2px solid transparent;
  vertical-align: middle;
  font-weight: 800;
  display: inline-block;
  width: 100%;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  position: absolute;
  right: 21px;
  top: 0.65em;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  border-radius: 12px;
}
#jobsboard tr .location {
  text-transform: uppercase;
  font-weight: 800;
  font-size: .75em;
  background: #737373;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  padding: 0;
  padding-right: 0.35em;
  padding-left: 0.35em;
  overflow: hidden;
  white-space: nowrap;
  max-width: 16em;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  background: #ddd;
  font-size: 10px;
  font-size: 12px;
  padding: 1.5px;
  padding-left: 4px;
  padding-right: 4px;
  font-weight: 800;
  color: #0f1115;
  text-transform: none;
  font-weight: 400;
  border-radius: 32px;
  padding-left: 7px;
  padding-right: 7px;
  color: #393939;
  margin: 3.5px;
  margin-left: 0;
  margin-right: 7px;
  background: #fff;
  border: 1px solid #dddddd;
}
table#jobsboard tr.job td.image {
  padding-top: 0;
  padding-bottom: 0;
}
table#jobsboard tr td.image {
  max-width: calc(60px + 14px);
  text-align: center;
  width: 74px;
}
#jobsboard {
  width: 100%;
  max-width: 1100px;
  margin: 14px auto;
  margin-bottom: 3em;
  border-spacing: 0;
}
table#jobsboard tr.job td {
  vertical-align: middle;
  padding: 7px;
}

#jobsboard .position {
  max-width: 20em;
}
#jobsboard .company {
  height: 4em;
  height: 5em;
  padding: 0;
  padding-left: 0;
}
#jobsboard th, #jobsboard td {
  padding: 0.75em;
  padding-bottom: 21px;
  padding-top: 21px;
  text-align: left;
  vertical-align: middle;
  font-weight: 400;
}
.apply_button p {
  display: inline-block;
  margin: 0;
  opacity: 0;
  vertical-align: middle;
  line-height: 2;
  vertical-align: middle;
  text-align: right;
}
.action-add-tag {
  cursor: cell;
}
a {
  color: #0f1115;
  text-decoration: none !important;
}
#jobsboard tr span.verified {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 800;
  font-size: .75em;
  background: #36e67f;
  border-radius: 3px;
  color: #fff;
  padding: 0;
  padding-right: 0.35em;
  padding-left: 0.35em;
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
  font-size: 12px;
  padding: 1.5px;
  padding-left: 4px;
  padding-right: 4px;
}
span.original {
  cursor: pointer;
}
.position h2, .company h3 {
  display: inline;
}
#jobsboard .position h2, #jobsboard .company h3 {
  font-size: 17px;
}
#jobsboard td.position h2 {
  line-height: 1.5;
}
#jobsboard .tags .tag h3 {
  cursor: cell;
  margin: 0;
  font-size: .7em;
  font-weight: 800;
}
#jobsboard .tags .tag h3 {
  font-size: 12px;
}
#jobsboard .image .logo {
  overflow: hidden;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 3em;
  height: 3em;
  margin: 0;
  margin-right: 0.2em;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  object-fit: scale-down;
  object-position: center;
  border-radius: 12px;
  border-radius: 100%;
  box-shadow: 1px 2px 4px rgba(0,0,0,.03);
  width: 60px;
  height: 60px;
}
table#jobsboard tr td.image {
  border-left: 1px solid #dddddd;
}
#jobsboard .position {
  max-width: 20em;
}
#jobsboard td.tags {
  min-width: 10em;
  max-width: 16em;
  padding: 0;
  margin: 0;
  padding-left: 0.5em;
  color: var(--global-text-color);
}
#jobsboard .tags .tag {
  border: 2px solid #0f1115;
  color: #0f1115;
}
#jobsboard .tags .tag, table.trends .tag {
  border: 2px solid #0f1115;
  border-radius: 12px;
  display: table;
  padding: 0.33em;
  padding: 7px;
  margin: 0.2em;
  margin: 3.5px;
  display: inline-block;
  font-weight: 700;
  vertical-align: middle;
  background-color: #fff;
  border-color: #003399 !important;
  color: #003399 !important;
}
#jobsboard td.source {
  text-align: right;
  width: 10em;
}

table#jobsboard tr.sw-insert td:last-of-type, table#jobsboard tr.job td:last-of-type {
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
    border-right: 1px solid #dddddd;
}
table#jobsboard tr.sw-insert td:nth-of-type(1), table#jobsboard tr.job td:nth-of-type(1) {
  border-top-left-radius: 12px !important;
  border-bottom-left-radius: 12px !important;
  border-left: 1px solid #dddddd;

}
.catch-emails-enabled .catch-emails {
  display: block;
  z-index: 1000;
}
.catch-emails {
  padding: 7px;
  margin-top: 14px;
  margin-bottom: 14px;
  text-align: center;
  background: #fff;
  font-weight: 800;
  box-shadow: 0 5px 10px rgba(0,0,0,.15);
  z-index: 1;
  border-top: 1px solid #dddddd;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  margin: 0;
  z-index: 10000;
  padding-bottom: max(0.75rem,env(safe-area-inset-bottom));
}
div.form {
  margin: 0;
}.catch-emails p {
  font-weight: 400;
  vertical-align: middle;
  display: inline-block;
  margin: 0;
}
.catch-emails input {
  padding: 9px;
  background: var(--global-background-color);
  border-radius: 12px;
  font-weight: 700;
  width: 12em;
  position: relative;
  top: 1px;
}
.button {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #ff4742;
  color: #fff;
  padding: 0.5em;
  border-radius: 12px;
  border: 2px solid #ff4742;
  cursor: pointer;
  font-weight: 800;
  display: inline-block;
}
.action-close-catch-emails {
  font-size: 21px;
  float: right;
  cursor: pointer;
  top: 16px;
  z-index: 10;
  border-radius: 12px;
  line-height: .75;
  padding: 7px;
  position: relative;
}
html.catch-emails-enabled .catch-emails {
    display: block;
    z-index: 1000;
}
.top-right-nav .button {
  margin: 0;
  margin-left: 7px;
  vertical-align: top;
}
input[type=text], input[type=email] {
  box-shadow: none;
  appearance: none;
  padding: 7px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  margin: 14px;
  font-size: 16px;
  margin-top: 7px;
  margin-bottom: 14px;
  background: #fff;
  border: none;
  box-shadow: 0 0 0 1px #dddddd,0 2px 4px 0 rgb(0 0 0/7%),0 1px 1.5px 0 rgb(0 0 0/5%);
  color: black;
}
#jobsboard th, #jobsboard td {
  padding: 0.75em;
  padding-bottom: 21px;
  padding-top: 21px;
  text-align: left;
  vertical-align: middle;
  font-weight: 400;
}
.filter-actions {
  top: 0;
  z-index: 2;
}
.filter-actions .top-bar-avatar {
  margin-left: 1px;
  margin-top: 14px;
  margin-right: 22px;
  cursor: zoom-in;
}
.top-bar-avatar {
  vertical-align: top;
  width: 40px;
  height: 40px;
  margin-left: 7px;
  z-index: 10;
  display: inline-block;
  position: relative;
}
select.order-by, .location-filter, .benefits-filter, .salary-filter, .search-filter {
  -webkit-touch-callout: none;
  user-select: none;
  vertical-align: top;
  margin: 7px;
  color: var(--global-text-color);
  margin-right: 0;
  background: #fff;
  padding: 0;
  max-width: 150px;
  border: 0;
  height: 100%;
  border-radius: 50px;
  margin-left: 0;
    margin-top: 14px;
}
.location-filter input[type=text], .search-filter input[type=text] {
  outline: none;
  border-radius: 50px;
  margin: 0;
  padding: 12px;
  border: none;
  box-shadow: #dddddd;
  padding: 9px;
  padding-left: 14px;
  text-align: left;
  width: 100%;
  font-weight: 800;
}
.location-filter-icon-circle, .benefits-filter-icon-circle, .salary-filter-icon-circle, .search-filter-input-icon-circle {
  position: absolute;
  top: 6px;
  pointer-events: none!important;
  right: 8px;
  padding: 7px;
  border-radius: 100%;
}
select.order-by, .benefits-filter, .salary-filter {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 32px;
  width: 100%;
  padding: 9px;
  padding-left: 14px;
  padding-right: 3.5px;
  box-shadow: #dddddd;
  position: relative;
  font-weight: 700;
  display: inline-block;
  cursor: cell;
}
select.order-by {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 32px;
  width: 100%;
  padding: 9px;
  padding-left: 14px;
  padding-right: 3.5px;
  box-shadow: #dddddd;
  position: relative;
  font-weight: 700;
  display: inline-block;
  cursor: cell;
  margin-top: 14px;
    float: right;
}
.selected-tags {
  text-align: left;
  margin-left: -6px;
  margin-top: -3.5px;
  min-height: 14px;
}
.location-filter-icon-circle, .benefits-filter-icon-circle, .salary-filter-icon-circle, .search-filter-input-icon-circle {
  position: absolute;
  top: 6px;
  pointer-events: none!important;
  right: 8px;
  padding: 7px;
  border-radius: 100%;
}
.location-filter-icon, .benefits-filter-icon, .salary-filter-icon, .search-filter-input-icon {
  position: relative;
  pointer-events: none!important;
  width: 14px;
  height: 14px;
  background-image: url(https://remoteok.com/assets/chevron-down.svg);
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.filter-actions .top-bar-avatar img.top-bar-avatar-img {
  box-shadow: #dddddd;
  width: 40px;
  height: 40px;
  border: none;
}
.top-bar-avatar img.top-bar-avatar-img {
  border-radius: 100%;
  overflow: hidden;
  border: 1px solid #dddddd;
  object-fit: cover;
  width: 40px;
  height: 40px;
}
#jobsboard tr.divider td {
  height: 10px;
  padding: 0;
}
.selected-tags {
  text-align: left;
  margin-left: -6px;
  margin-top: -3.5px;
  min-height: 14px;
}
.active-filters-box div.active-filter, .active-filters-box .results-count, .search-filter, .location-filter, .active-filters-box .action-clear-all-filters {
  background: var(--global-background-color);
  background: var(--element-background-color);
  background: #fff;
  border-radius: 32px;
  border: solid 1px #dddddd;
  display: inline-block;
  margin: 7px;
  margin-right: 0;
  color: #0f1115;
  font-size: 1em;
  padding: 7px;
  text-align: center;
  font-weight: 800;
  position: relative;
  padding-right: 29px;
}
.active-filters-box .active-filter .action-remove-this-filter {
  opacity: .25;
  position: absolute;
  z-index: 1;
  top: 9px;
  right: 5px;
  padding: 0.25em;
  padding-left: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 3px;
  line-height: 1;
  text-align: center;
  border-radius: 100%;
  color: #fff;
  width: 20px;
  height: 20px;
}
.active-filters-box .action-remove-latest-filter, .active-filters-box .action-clear-all-filters {
  padding: 0;
  padding-left: 9px;
  padding-right: 9px;
  vertical-align: top;
  border: 1px solid #ff4742;
  color: #ff4742;
  border-radius: 32px;
  display: inline-block;
  margin: 7px;
  padding: 8.5px;
  text-align: center;
  font-weight: 800;
  position: relative;
  cursor: zoom-out;
  background: 0 0;
}
.by-levelsio {
  display: block;
  padding: 7px;
  font-size: 12px;
  margin: 0;
  background: #fff;
  color: #000;
  position: fixed;
  bottom: 0;
  right: 0;
  border-top: 1px solid var(--input-border-color);
  border-left: 1px solid var(--input-border-color);
  border-top-left-radius: 12px;
  z-index: 99;
  font-weight: bold;
  text-decoration: none;
}
div.top-tags {
  position: relative;
  max-width: calc(1400px - 28px - 28px);
  width: 100vw;
  margin: 14px auto;
  padding: 14px;
  z-index: 2;
  padding-left: 3.5px;
  padding-right: 3.5px;
  text-align: center;
}
.top-tags .tag, .box.profile .tag {
  vertical-align: top;
  position: relative;
  box-shadow: 1px 2px 4px rgba(0,0,0,.075);
  background: #fff;
  display: inline-block;
  padding: 3.5px;
  padding-left: 7px;
  padding-right: 7px;
  margin: 3.5px;
  border-radius: 12px;
  border-radius: 32px;
  border: solid 1px #dddddd !important;
  /* color: #696969; */
  border-color: #ddd;
  font-weight: 600;
  font-size: 14px;
  font-size: 16px;
  padding: 7px;
  padding-left: 14px;
  padding-right: 14px;
  /* margin: 7px; */
  border: none;
  box-shadow: var(--box-shadow-central);
  cursor: cell;
  line-height: 1.5;
}